.suite ul li {
    list-style:none;
    font-size:11px;
}

.suite ul {
    margin-left:0;
}

.test-wrapper {
    overflow-y:auto;
    height:400px;
}

.suite .pass {
    color:green;
}

.suite .fail {
    color:red;
}
